/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 1.5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

[data-theme='dark'] .heroBanner {
  background-color: #1b1b1d;
}

.boxText {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.boxText h1 {
  font-size: 2.1rem;
  font-style: italic;
}

.boxText p {
  font-size: 1.1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 2rem;
}

header .icon {
  max-width: 14.5%;
}

header .logo_taple {
  max-width: 30%;
  max-height: 30%;
  padding-left: 2rem;
}

hr {
  margin-left: 18%;
  width: 64%;
  height: 0.18rem;
}

/* Dependiendo del tamaño de la ventana */
@media (max-width: 1500px) {
  header h1 {
    font-size: 2.2rem;
  }

  header p {
    text-align: left;
    font-size: 1.2rem;
  }

  header .icon {
    max-width: 19.5%;
  }
  
  header .logo_taple {
    max-width: 40%;
    max-height: 40%;
    padding-left: 2rem;
  }
}

@media (max-width: 1000px) {
  .boxText p {
    padding-left: 2rem;
    padding-right: 1rem;
  }

  hr {
    margin-left: 10%;
    width: 80%;
    height: 0.18rem;
  }

  header .icon {
    max-width: 24.5%;
  }
  
  header .logo_taple {
    max-width: 50%;
    max-height: 50%;
    padding-left: 2rem;
  }
}

@media (max-width: 650px) {
  header .icon {
    max-width: 30%;
  }
  
  header .logo_taple {
    max-width: 62%;
    max-height: 62%;
    padding-left: 2rem;
  }
}